In [1]:
%run 'Setup.ipynb'

# Describe Data on difference criteria

##  Describe All Data on Different Framework

In [2]:
describe_data(lambda x: x)

##  Describe Data on Difference in CPU

In [3]:
describe_data(difference_cpu)

##  Describe Data on Difference in RAM

In [4]:
describe_data(difference_ram)

##  Describe Data on Difference in Warehouse

In [5]:
describe_data(default_setup)